In [43]:
import pandas as pd
import numpy as np

# Descargar el conjunto de datos
#url = ""
df = pd.read_csv('DelayedFlights.csv')
# df_reduced = df.sample(n=200000) # asi reducimos a 200K registros
# df_reduced.to_csv('DelayedFlights.csv', index=False) # lo guardamos en mismo fitchero

# Ver las primeras filas del DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 30 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Unnamed: 0         200000 non-null  int64
 1   Year               200000 non-null  int64
 2   Month              200000 non-null  int64
 3   DayofMonth         200000 non-null  int64
 4   DayOfWeek          200000 non-null  int64
 5   DepTime            200000 non-null  float64
 6   CRSDepTime         200000 non-null  int64
 7   ArrTime            199281 non-null  float64
 8   CRSArrTime         200000 non-null  int64
 9   UniqueCarrier      200000 non-null  object
 10  FlightNum          200000 non-null  int64
 11  TailNum            200000 non-null  object
 12  ActualElapsedTime  199122 non-null  float64
 13  CRSElapsedTime     199982 non-null  float64
 14  AirTime            199122 non-null  float64
 15  ArrDelay           199122 non-null  float64
 16  DepDelay           200000 non-null  float64
 17  Origin             200000 non-null  object
 18  Dest               200000 non-null  object
 19  Distance           200000 non-null  int64
 20  TaxiIn             199281 non-null  float64
 21  TaxiOut            199954 non-null  float64
 22  Cancelled          200000 non-null  int64
 23  CancellationCode   200000 non-null  object
 24  Diverted           200000 non-null  int64
 25  CarrierDelay       128903 non-null  float64
 26  WeatherDelay       128903 non-null  float64
 27  NASDelay           128903 non-null  float64
 28  SecurityDelay      128903 non-null  float64
 29  LateAircraftDelay  128903 non-null  float64
dtypes: float64(14), int64(11), object(5)
memory usage: 45.8+ MB

## Ejercicio 2

In [48]:
# Resumeix estadísticament el dataset i les columnes d’interès. Fes una anàlisi estadístic del que consideris rellevant.
df.describe()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,...,TaxiIn,TaxiOut,Cancelled,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,delay
count,2.000000e+05,200000.0,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,199281.000000,200000.000000,200000.000000,...,199281.000000,199954.000000,200000.000000,200000.000000,128903.000000,128903.000000,128903.000000,128903.000000,128903.000000,199122.000000
mean,3.343166e+06,2008.0,6.113400,15.775055,3.988760,1518.738725,1467.077510,1610.578445,1633.651100,2183.039325,...,6.814016,18.273408,0.000355,0.004035,19.126304,3.720635,15.027144,0.090277,25.340132,85.282360
std,2.062479e+06,0.0,3.477104,8.772469,1.994975,449.644071,424.323617,547.331105,464.175661,1945.929727,...,5.226327,14.374331,0.018838,0.063394,43.079864,21.115184,33.734112,2.095959,42.836788,108.549013
min,1.600000e+01,2008.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-48.000000
25%,1.524463e+06,2008.0,3.000000,8.000000,2.000000,1203.000000,1135.000000,1316.000000,1325.000000,607.000000,...,4.000000,10.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,22.000000
50%,3.244142e+06,2008.0,6.000000,16.000000,4.000000,1545.000000,1510.000000,1715.000000,1705.000000,1544.000000,...,6.000000,14.000000,0.000000,0.000000,2.000000,0.000000,2.000000,0.000000,8.000000,48.000000
75%,4.964589e+06,2008.0,9.000000,23.000000,6.000000,1900.000000,1815.000000,2030.000000,2013.000000,3417.000000,...,8.000000,21.000000,0.000000,0.000000,21.000000,0.000000,15.000000,0.000000,33.000000,108.000000
max,7.009666e+06,2008.0,12.000000,31.000000,7.000000,2400.000000,2359.000000,2400.000000,2400.000000,7829.000000,...,225.000000,353.000000,1.000000,1.000000,1951.000000,846.000000,1337.000000,254.000000,1303.000000,3903.000000

In [44]:
# Troba quantes dades faltants hi ha per columna.
missing_data = df.isna().sum()

print(missing_data)

Unnamed: 0               0
Year                     0
Month                    0
DayofMonth               0
DayOfWeek                0
DepTime                  0
CRSDepTime               0
ArrTime                719
CRSArrTime               0
UniqueCarrier            0
FlightNum                0
TailNum                  0
ActualElapsedTime      878
CRSElapsedTime          18
AirTime                878
ArrDelay               878
DepDelay                 0
Origin                   0
Dest                     0
Distance                 0
TaxiIn                 719
TaxiOut                 46
Cancelled                0
CancellationCode         0
Diverted                 0
CarrierDelay         71097
WeatherDelay         71097
NASDelay             71097
SecurityDelay        71097
LateAircraftDelay    71097
dtype: int64

In [45]:
# Crea columnes noves (velocitat mitjana del vol, si ha arribat tard o no...)


df['late_arrival'] = np.where(df['CRSArrTime'] > df['ArrTime'], 'Yes', 'No')

df['delay'] = ((df['DepDelay'])+(df['ArrDelay'])) #total delay column for a flight (Departure + Arrival delay)

df['Date']= pd.to_datetime(pd.DataFrame({'year':df['Year'],
                                         'month':df['Month'],'day':df['DayofMonth'], 
                                         'hour':df['DepTime']})) #date column

In [46]:
df.head()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,late_arrival,delay,Date
0,2365840,2008,4,12,6,2000.0,1825,2339.0,2229,CO,...,N,0,11.0,0.0,0.0,0.0,59.0,No,165.0,2008-07-04 08:00:00
1,1194480,2008,3,8,6,1847.0,1835,1954.0,1945,WN,...,N,0,NaN,NaN,NaN,NaN,NaN,No,21.0,2008-05-23 23:00:00
2,4315958,2008,8,27,3,1538.0,1525,1645.0,1640,WN,...,N,0,NaN,NaN,NaN,NaN,NaN,No,18.0,2008-10-30 02:00:00
3,5674726,2008,10,24,5,2242.0,2030,34.0,2235,DL,...,N,0,119.0,0.0,0.0,0.0,0.0,Yes,251.0,2009-01-25 10:00:00
4,1658751,2008,3,30,7,1445.0,1135,1624.0,1303,9E,...,N,0,0.0,0.0,11.0,0.0,190.0,No,391.0,2008-05-29 05:00:00

In [47]:
# Agrupar los datos por aerolínea y calcular el retraso acumulado
grouped = df.groupby("UniqueCarrier").agg({"DepDelay": "sum"})

# Ordenar los datos por retraso acumulado y tomar la primera fila (aerolínea con mayor retraso acumulado)
result = grouped.sort_values("DepDelay", ascending=False).head(10)

# Mostrar los resultados
print(result)

                DepDelay
UniqueCarrier
WN             1337921.0
AA              910987.0
UA              730362.0
MQ              624153.0
OO              611139.0
XE              557417.0
DL              446557.0
CO              445440.0
EV              415259.0
US              404748.0

In [30]:
# Agrupamos los datos por la columna 'UniqueCarrier' y calculamos la suma de la columna 'Distance'
grouped_distance = df.groupby('UniqueCarrier')['Distance'].sum()

# Ordenamos los datos en orden descendente y obtenemos la primera fila para encontrar la aerolínea con la mayor distancia total
most_distance_carrier = grouped_distance.sort_values(ascending=False).index[0]

# Obtenemos la distancia total de la aerolínea con la mayor distancia total
most_distance = grouped_distance.loc[most_distance_carrier]

# Agrupamos los datos por la columna 'UniqueCarrier' y calculamos la suma de la columna 'DepDelay'
grouped_delay = df.groupby('UniqueCarrier')['DepDelay'].sum()

# Ordenamos los datos en orden descendente y obtenemos la primera fila para encontrar la aerolínea con el mayor retraso total
most_delay_carrier = grouped_delay.sort_values(ascending=False).index[0]

# Obtenemos el retraso total de la aerolínea con el mayor retraso total
most_delay = grouped_delay.loc[most_delay_carrier]

# Imprimimos los resultados
print("La aerolinea con la mayor distancia total es {} con una distancia de {} ".format(most_distance_carrier, most_distance))
print("La aerolinea con el mayor retraso total es {} con un retraso de {}".format(most_delay_carrier, most_delay))

The carrier with the most total distance is WN with a distance of 25149855
The carrier with the most total delay is WN with a delay of 1337921.0

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,late_arrival,delay,Date
0,2365840,2008,4,12,6,2000.0,1825,2339.0,2229,CO,...,N,0,11.0,0.0,0.0,0.0,59.0,No,165.0,2008-07-04 08:00:00
1,1194480,2008,3,8,6,1847.0,1835,1954.0,1945,WN,...,N,0,NaN,NaN,NaN,NaN,NaN,No,21.0,2008-05-23 23:00:00
2,4315958,2008,8,27,3,1538.0,1525,1645.0,1640,WN,...,N,0,NaN,NaN,NaN,NaN,NaN,No,18.0,2008-10-30 02:00:00
3,5674726,2008,10,24,5,2242.0,2030,34.0,2235,DL,...,N,0,119.0,0.0,0.0,0.0,0.0,Yes,251.0,2009-01-25 10:00:00
4,1658751,2008,3,30,7,1445.0,1135,1624.0,1303,9E,...,N,0,0.0,0.0,11.0,0.0,190.0,No,391.0,2008-05-29 05:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,3390405,2008,6,20,5,1258.0,1245,1419.0,1410,MQ,...,N,0,NaN,NaN,NaN,NaN,NaN,No,22.0,2008-08-11 10:00:00
199996,5993775,2008,11,19,3,2015.0,1925,2223.0,2140,WN,...,N,0,0.0,0.0,0.0,0.0,43.0,No,93.0,2009-02-10 23:00:00
199997,2983769,2008,5,8,4,1707.0,1700,1756.0,1752,DL,...,N,0,NaN,NaN,NaN,NaN,NaN,No,11.0,2008-07-18 03:00:00
199998,6120061,2008,11,2,7,2113.0,2104,2346.0,2346,OO,...,N,0,NaN,NaN,NaN,NaN,NaN,No,9.0,2009-01-29 01:00:00
199999,6617907,2008,12,12,5,2205.0,2150,2212.0,2150,OO,...,N,0,0.0,0.0,7.0,0.0,15.0,No,37.0,2009-03-13 21:00:00

In [29]:
# Nombre del archivo
nombre_archivo = "rutas_vuelos.xlsx"

# Exportación del DataFrame a Excel
df.to_excel(nombre_archivo, index=False)

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,late_arrival,delay,Date
0,2365840,2008,4,12,6,2000.0,1825,2339.0,2229,CO,...,N,0,11.0,0.0,0.0,0.0,59.0,No,165.0,2008-07-04 08:00:00
1,1194480,2008,3,8,6,1847.0,1835,1954.0,1945,WN,...,N,0,NaN,NaN,NaN,NaN,NaN,No,21.0,2008-05-23 23:00:00
2,4315958,2008,8,27,3,1538.0,1525,1645.0,1640,WN,...,N,0,NaN,NaN,NaN,NaN,NaN,No,18.0,2008-10-30 02:00:00
3,5674726,2008,10,24,5,2242.0,2030,34.0,2235,DL,...,N,0,119.0,0.0,0.0,0.0,0.0,Yes,251.0,2009-01-25 10:00:00
4,1658751,2008,3,30,7,1445.0,1135,1624.0,1303,9E,...,N,0,0.0,0.0,11.0,0.0,190.0,No,391.0,2008-05-29 05:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,3390405,2008,6,20,5,1258.0,1245,1419.0,1410,MQ,...,N,0,NaN,NaN,NaN,NaN,NaN,No,22.0,2008-08-11 10:00:00
199996,5993775,2008,11,19,3,2015.0,1925,2223.0,2140,WN,...,N,0,0.0,0.0,0.0,0.0,43.0,No,93.0,2009-02-10 23:00:00
199997,2983769,2008,5,8,4,1707.0,1700,1756.0,1752,DL,...,N,0,NaN,NaN,NaN,NaN,NaN,No,11.0,2008-07-18 03:00:00
199998,6120061,2008,11,2,7,2113.0,2104,2346.0,2346,OO,...,N,0,NaN,NaN,NaN,NaN,NaN,No,9.0,2009-01-29 01:00:00
199999,6617907,2008,12,12,5,2205.0,2150,2212.0,2150,OO,...,N,0,0.0,0.0,7.0,0.0,15.0,No,37.0,2009-03-13 21:00:00